<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read All Dojos</title>
</head>
<body>
    <h1>Dojos and Ninjas</h1>
    <div>
        <h2>New Dojo</h2>
        <form action="/create/dojo" method="POST">
           <p><label for="name">Name:</label></p> 
            <input type="text" name="name" id="name">
            <p><input type="submit" value="Create a dojo"></p>
        </form>
    </div>
<div>
    <h2>All Dojos</h2>
    <table border="<i class="fas fa-wifi-1"></i>
        <thead>
            <tr>
                
                <th>Dojo Name</th>
                
                
            </tr>
        </thead>
        <tbody>
            {% for one_dojo in all_dojos %}
                <tr>
                <td><a href="/show/{{one_dojo.id}}" class="btn btn-primary">{{one_dojo.name}}</a></td>

                </tr>
                
            {% endfor %}
        </tbody>
    </table>
    <a href="/new_ninja" class="btn btn-primary">Add a Ninja</a>
   
</div>
</body>
</html>